<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/styles/imagestyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



    <title>Maarga</title>
</head>
<style>
        header{
           
            background-size: cover;
            background-position: center;
            min-height: 500px;
    
        }
        @media screen and (max-width:670px){
            header{
                min-height: 250px
            }
        }
    </style>
<body class="grey lighten-5">
        <div class="navbar-fixed">
                <nav class="white">
                    <div class="nav-wrapper">
                        <ul >
                            <li class="brand-logo left" >
                                    <img src="../public/images/logo.jpg" alt="" style="height:60; width:100">
                               <!-- <a href="./frontpage.html"> <h5 class="green-text"> MAARGA</h5></a> -->
                               
                            </li>
                            <li class="brand-logo center">
                                <a href="./frontpage.html"> <h5 class="green-text"> MAARGA</h5></a>
                            </li>
                            <li class="right">
                            <a href="#about_us" class="black-text ">ABOUT US</a> 
                           </li>
                           <li class="right" >
                               <a href="#contacts" class="black-text">CONTACT</a> 
                           </li> 
                           <li  class="right">
                            <a href="#sponsors" class="black-text ">SPONSORS</a> 
                           </li>
                          <!--  <li class="right">
                                <a href="#volunteers" class="black-text ">COMMITTEE</a>
                           </li> -->
                           <li class="right">
                            <a href="events.html" class="black-text ">EVENTS</a> 
                           </li>
                           
                           
                           <li class="right">
                            <a href="#introduction" class="black-text ">HOME</a> 
                           </li>
                           
                        </ul>
                    </div>
                </nav>
            </div>
       
        <div >
        <header class="container">
            <br>
            <br>
                <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../public/images/scroll1.jpg" alt="">
                  </li>
                  <li>
                    <img src="../public/images/plant2.jpg" alt="">
                  </li>
                  <li>
                    <img src="../public/images/scroll3.jpg"> 
                    
                  </li>
                  <li>
                    <img src="../public/images/scroll4.jpg">
                    
                  </li>
                </ul>
              </div>
                  
            </header>
        </div>
            <script>
            $(document).ready(function(){
            $('.slider').slider();
          });
            </script>


<div class="container" id="introduction" >
    <h3 class = "green-text">MAARGA</h3>
    <h6> Engineer's path towards a better society<h6>
<p >
  <!-- content abt maarga-->
     MAARGA the world indicated 'The Students Towards a Better Society'. We the sudents joined hands to a eco-friendly society. The Maarga has the groups of students from different colleges of Engineering student of almost 20 colleges together joined hands to see a better society and give awareness for the present society and to save the society.The Maarga includes group of committes and volunteers who all are from different colleges.Our main intention is to serve the people without any intention.
     <br>
     Alone we can do so little - together we can do a lot.
     The happiest people are those who lose themselves in the service of others.
    </p>
</div>

<div id = "about_us" class="center"  >
        <br>
        <br> <!-- video about maarga -->
        <br>
        <br>
    <video width="640" height="352" controls>
        <source src="../public/images/maarga_video.mp4" type="video/mp4">
    </video>
</div>



    

   <!--  <div class="EVENTS" id="events">
                <br>
                <br>  ( maarga heads) 
                
            <h1 class="center"> EVENTS</h1>
          <div class="row">
                    <div class="card col s12 m4 l5 ">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../public/images/vol2.jpg" alt="image">
                        </div>
                        
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Naveen G Krishna<i class="material-icons right">close</i></span>
                          <p>President</p>
                        </div>
                      </div>

                    <div class="card col s12 m4 l5 push-8 ">
                        <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../public/images/vol1.jpg" alt="image">
                            </div>
                        
                        <div class="card-reveal">
                            
                            <span class="card-title grey-text text-darken-4 ">Meghana Rajkumar K<i class="material-icons right">close</i></span>
                            
                            <p >Vice President</p>
                        </div>
                    </div>

                    <div class="card col s12 m4 l5 push-l2">
                        <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../public/images/oe5.jpg" alt="image">
                            </div>
                        
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">PLANTATION<i class="material-icons right">close</i></span>
                            <p>Our first step towards this Social sevice was "Plantation"</p>
                            <a href="events.html">more about it</a>
                        </div>
                    </div>
                
            
            </div>
             -->
  

</div>

<div class="container" id="sponsors">
            <br>
            <br> <!--  event sponsors--> 
            <br>
            
    <h1 class="center">SPONSORS</h1>
    <div class="row">
        
            <img class="imgspon col l2 s12 m4 push-l4" src="../public/images/spo1.jpeg" alt ="sponsors1">
            <img class="imgspon col l2 s12 m4 push-l4" src="../public/images/spo2.jpeg" alt ="sponsors1">
        
    </div>
</div>


<div class="container" id="contacts">
            
            <br> <!--  social media --> 
            <br> <!-- whatsapp , email - to contact -->
            <br> <!-- facebook , instagram links -->
            
    <h2>Contact Us</h2> 
    
        <div class="row">  
            <img class="col " src="../public/images/gmail.png" alt="gmail"> <h5>maarga2018@gmail.com </h5>
            <br>
            <img class="col " src="../public/images/whatsapp.png" alt="whatsapp"> <h5>+91  9035093146</h5>

    </div>
    
    <div class="row">
          
            
            <a class="col " href="https://www.instagram.com/maarga_ngo/">  <img src="../public/images/instagram.png" alt=""></a>
            <a class="col " href="https://www.facebook.com/MaargaNGO/">  <img src="../public/images/facebook.png" alt=""></a>
        
    </div>

</div>
</body>
</html>