.imgsize{
    height: 300px;
    width:300px;
    margin-left: 0.5;
    margin-right: 0.5;
}
.vols{
    height: 300px;
    width:300px;
    margin-left: 100;
    margin-right: 10
}
.imgspon{
	height: 150px;
	width: 150px;
	margin-left: 0.5;
    margin-right: 0.5;
}